* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

#wrapper {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
}

#content {
    height: 100%;
    width: 80%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    /*grid-template-columns: 10% 18% 18% 18% 18% 18%;*/
}

#days {
    height: 10%;
    width: 100%;
    display: inline-flex;
}

.weekday {
    width: 20%;
    height: 100%;
    background-color: #6E7DF8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    font-weight: bold;
    border: 1px solid black;
    border-top: none;
}

#numbers {
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.lp {
    width: 100%;
    height: 10%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vh;
    font-weight: bold;
    border: 1px solid black;
}

#dnilekcje {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#lessons {
    width: 100%;
    height: 90%;
    display: flex;
}

#lessons .lekcje {
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
}

.lekcje div {
    width: 100%;
    height: calc(100% / 9);
    border: 1px solid gray;
}

#menu {
    height: 100%;
    width: 20%;
    background-color: #2C3ED3;
    border: 1px solid black;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
}

#menu div {
    color: white;
    font-weight: bold;
    font-size: 1.5vw;
}

#menutime {
    width: 100%;
    height: 10%;
    border-bottom: 1px solid black; 
    display: flex;
    justify-content: center;
    align-items: center;
}

#menucontent {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#menucontent form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#menucontent input {
    width: 80%;
    font-size: 1.5em;
}

#menucontent p:first-child {
    margin-top: 0;
}

#menucontent section {
    width: 80%;
}

#menucontent section * {
    margin: 0;
    font-weight: normal;
}

#menucontent section h1 {
    margin-bottom: 10px;
    font-weight: bold;
}

.lekcja {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.lekcja * {
    margin: 0;
}